@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Roboto:wght@400;500&display=swap');

body{
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#oatmea{  
    background: #f8edf0;
}

.container{
    width: 1140px;
    padding: 0 10px;
}

.oatmea__info{
    width: 442px;
}

.oatmea__title{
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 16px;
}

.oatmea__desc{
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin-bottom: 35px;
}

.oatmea__btn{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fafafa;
    padding: 15px 42px;
    background: #d64374;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.oatmea__img img{
    object-fit: cover;
}



